@-webkit-keyframes dotPulse{       
	0% {
		-webkit-transform: scale(0);   
		opacity: 0;
	}
	8% {
		-webkit-transform: scale(0);   
		opacity: 0;
	}
	15% {
		-webkit-transform: scale(0.1);   
		opacity: 0.8;
	}
	30% {
	  -webkit-transform: scale(0.5);
	  opacity: 0.2;
	}
	100% {
	  opacity: 0;
	  border: 10px solid #ffffff;
		-webkit-transform: scale(1);
	}
}


@-moz-keyframes dotPulse
	{       
	0% {
		-moz-transform: scale(0);   
		opacity: 0;
	}
	8% {
		-moz-transform: scale(0);   
		opacity: 0;
	}
	15% {
		-moz-transform: scale(0.1);   
		opacity: 0.8;
	}
	30% {
	  -moz-transform: scale(0.5);
	  opacity: 0.2;
	}
	100% {
	  opacity: 0;
	  border: 10px solid #ffffff;
		-moz-transform: scale(1);
	}
}

.logo{
	.dot_pulse{
		margin: 0 auto;
		width: 70px;
		height: 70px;
		border-radius: 100px;
		position: absolute;
		right: -35px;
		top: -35px;
		z-index: 10;
		background-color: transparent;
		border: 10px solid #91C758;
		-webkit-animation-name: dotPulse;
		-moz-animation-name: dotPulse;
		-webkit-animation-duration: 2s;
		-moz-animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
		opacity: 0.2;
		border-top-left-radius: 100px 100px;
		border-top-right-radius: 100px 100px;
		border-bottom-right-radius: 100px 100px;
		border-bottom-left-radius: 100px 100px;
	}
	.dot{
		width: 10px;
		height: 10px;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		position: absolute;
		top: -5px;
		right: -5px;
		background-color: #5B9919;
		z-index: 50;
		border: 10px solid #EEF5E8;
	}
}
/*
@@Rest
---------------------------------------------------------
*/


/*
@@Helper
---------------------------------------------------------


*/

/*
@@mixin
*/
.Transistion(@prop:all,@time:0.4s,@func:ease){
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-o-transform:translateZ(0);
	-webkit-transition:@arguments;
	-moz-transition:@arguments;
	-o-transition:@arguments;
}
.BorderRadius(@r){
	-moz-border-radius: @r;
	-webkit-border-radius: @r;
	border-radius: @r;
}


/*

*/
@clientHeight:`$(window).height()`;

@color:gray;

body{

	background-color:@color;
}

/*
@@Navigation Part
*/
.navigation{

	div,li{
		width: 50px; 
		height: 50px;	
	}

	.logo{
		position: fixed;
		top:0;
		background:white;

	}
	.buttons{
		display: block;
		font-size:12px;

		color:white;
		position: fixed;
		top:20%;
		list-style: none;
		width:50px;
		margin:0;
		li{
			.Transistion(all,0.2s,ease-in);
			 
			position: relative;
			background:orange;
			float:left;
			cursor:default;
			display: block;	 
			line-height:50px;
			text-align:center;
			
		}
		li:hover{
			width:70px;
			 
			 
		}

		.stream{background-color: #3C81B5;}
		.monday{background-color: #213540;}
		.tuesday{background-color: #F36324;}
		.wednesday{background-color: #3CB5A2;}
		.thursday{background-color: #0C486C;}
		.friday{background-color: #EB9605;}
		.saturday{background-color: #FE4E50;}
		.sunday{background-color:#541844;}
	}
	.nav-arrow{
		position: fixed;
		bottom:0;
		background:green;
		height:100px;
		.prev{
			background-color:#84C2B6;
		}
		.next{
			background-color:#EDE6CE;
		}
	}
}

/*
@@Main Content

*/
#main{
	h1{
		color:white;
	}
	overflow: hidden;
	>div{
		
		height:0px+@clientHeight;
	}

	.logoContent{
		//background:url(img/pattern.png);
		background-color:#005A78;
	}

	.streamContent{
		background-color: #3C81B5;
		 
	}
	.mondayContent{
		background-color: #213540;
		color:white; //##warning:need to be more considerate
		 
	}
	.tuesdayContent{
		background-color: #F36324;
		 
	}
	.wednesdayContent{
		background-color: #3CB5A2;
		 
	}
	.thursdayContent{
		background-color: #0C486C;
		 
	}
	.fridayContent{
		background-color: #EB9605;
		 
	}
	.saturdayContent{
		background-color: #FE4E50;
		 
	}
	.sundayContent{
		background-color: #541844;
	}
	/*
		@@courseTable
	*/
	.courseTable{
		
		margin-left:20px;
		position: relative;
		z-index:2;
		overflow:hidden;

	
	
		tbody tr:hover{
			cursor: default;
			.Transistion(all,0.2s,ease-in);
			background-color:lightblue;


		}
	}
	/*
	  @@the overlap

	*/
	.courseOverlay{
		position: fixed;
		//background-color:grey;
		display:none;
		z-index:90;
		height:100%;
		width:100%;
		opacity:1;
		top:0;
		 

		.leftContent{

			height:100%;
			width:96%;
			background-color:#F3F2EE;
			float:right;

			.addCourseName{
				float:left ;	
			}

			.addCourseSchool{
				float:left;
				margin-left:10px;
				display: inline-block;
			}
			.addCourseSchool+p{
				clear:both;
			}

			.addCourseBtnArea{
				background-color:transparent;
				padding: 17px 20px 18px;
				margin-top: 18px;
				margin-bottom: 18px;
				border-top: 1px solid #DDD;
				padding-left: 160px;
			}
		}

		.tooltips{
			height:100%;
			width:4%;
			background-color:#213E4A;
			float:left;
			position:relative;

			.backTo{
				background-color:grey;
				cursor:pointer;
				
			}

		}
	}

	.reviewOverlay{
		 
		position: fixed;
		display: none;
		top:0;
		z-index:70;
		height:100%;
		width:100%;
		opacity:1;
		

		.ReviewArea{
			 
			position: absolute;
			background-color:#F3F2EE;
			display:none;
			z-index:80;
			height:80%;
			width:100%;
			opacity:1;
			top:0;

		}
		.addReviewArea{
			position: absolute;
			background-color:grey;
			display:none;
			z-index:80;
			height:20%;
			width:100%;
			opacity:1;
			bottom:0;

			.row{
				margin-top:20px;

				.span8{
					margin-left:40px;
				}
			}

		}
	}
	
	.wholeCourseOverlay{
		position: fixed;
		//background-color:grey;
		display:none;
		z-index:90;
		height:100%;
		width:100%;
		opacity:1;
		top:0;
		 

		.rightContent{

			height:100%;
			width:97%;
			background-color:#F3F2EE;
			float:left;

			.courseTable{
				margin-left:0;

			}
		}

		.tooltips{
			height:100%;
			width:3%;
			background-color:#213E4A;
			float:right;
			position:relative;

			.backTo{
				background-color:grey;
				cursor:pointer;
				
			}
		}

	}

	.remarkOverlay{
		position: fixed;
		height:100%;
		width:150px;
		right:0;
		top:0;
		background:grey;
		opacity:0.8;
		display:none;
		header{
			background-color:lightblue;
			position: absolute;
			width: 100%;
			bottom: 0;
		}
		.addRemarkArea{
			position: absolute;
			bottom:3em;
			input {
				margin-bottom:2px;
			}
		}
		.remarkContent{
			background-color:orange;
			
			.remarkItem{
				background-color:green;
			}
		}


	}
		/*
	@@about the course details
	*/
	.row {
		> [class*="span"]{
			.Transistion(margin-left,0.4s,ease-in-out);
		}

		.addReviewBtn{
			margin-left:20px;
		}
	}



	.detailsHidden1{
		.Transistion(margin-left,0.4s,ease-in);
		margin-left:980px !important;
	}
	.detailsHidden2{
		.Transistion(margin-left,0.4s,ease-out);
		margin-left:-940px !important;

		
	}


	.details{
		position: relative;
		z-index:1;
		
		.itemTitle{
			 
		}
		 
		.row{
			.iphone_switch{
				height:18px; 
				width:94px; 
				background:url(img/iphone_switch.png);
				background-position: 0px; 
				float:right;
				.BorderRadius(5px);
				.Transistion(background-position,0.3s,ease-in);
				cursor: pointer;
			}
			.iphone_switch_off{
				background-position: -53px 50%;
			}
			.span3 .btn{  //the very two button : edit , cancle;
				float:right;
				&.cancle{
					margin-right:10px;
				}
			}
			.upReason{
				padding: .1em 0 .6em 0;
			}
			.itemEditing{
				box-shadow: 0px 1px 0px white;
				outline:none;
			}
		}
		.row.part1 span{
			padding:.2em 0;
		}
		.reviews{
			.span3{
				background-color:#213E4A;//@@warning:differ from slides;
				div.userName{
					 padding:0 .6em;
				}
				div.content{
					padding:.2em .6em .6em;
				}
			}
			.reviewVote{
				float:right;
			}

		}
		.progress{
			margin-top:10px;
			position: relative;
			.bar{
				.Transistion(width,0.5s,ease-in-out);
			}

			#tempholder{
				height:18px;
				width:5px;
				position: absolute;

			}
		}
		.progressDetails{
			margin-top:-20px;
			position: relative;

			.progressComments{
				opacity:1;
				position: absolute;
				width:5px;
				top:2px;
				cursor:pointer;
				.Transistion(all,0.2s,ease-in-out);
					
			}
			.progressComments:hover{
				-webkit-transform: scale(1.1) translateY(1px);
				-moz-transform:scale(1.1) translateY(1px);
				-o-transform:scale(1.1) translateY(1p);
			}

		}

	}

	//addCouse Btn
	.addCourse{
		
		position: absolute;
		bottom:0;
		right:0;
	}

	.icon-arrow-up{
		.Transistion(all,0.2s,ease-out);
		cursor:pointer;

	}
	.icon-arrow-up:hover{
		-webkit-transform: scale(1.2) translateY(-3px);
		-moz-transform:scale(1.2) translateY(-3px);
		-o-transform:scale(1.2) translateY(-3px);

	}

	.icon-arrow-down{
		.Transistion(all,0.2s,ease-out);
	}
	.icon-arrow-down:hover{
		cursor:pointer;
		-webkit-transform: scale(1.2) translateY(3px);
		-moz-transform:scale(1.2) translateY(3px);
		-o-transform:scale(1.2) translateY(3p);
	}


	
}

.removeArea{
	width:100%;
	position: fixed;
	height:50px;
	background-color:rgba(0, 0, 0, 0.4);
	top:0;
	text-align:center;
	display:none;
	.BorderRadius(0px 0px 20px 20px);
	
	
	.icon-trash{
		margin-top: 17px;

	}
	
	&:hover{
		background-color:rgba(255,0,0,0.4);
	}
}




